.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.open {
  margin: 50px;
  width: 300px;
}

users-cards {
  width: 100%;
}
.cancel {
  display: flex;
  justify-content: flex-end;
}
.cancel span {
  display: contents;
}

