
.users-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .card {
    width: fit-content;
    height: 300px;
    margin: 15px;
    span {
      margin-bottom: 15px;
    }
  }

}

